#hamburger.active ul {
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0.2s;
}
#hamburger.active button span {
  transform: rotate(90deg);
}

#hamburger button {
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  width: 35px;
  top: 0px;
  right: 0px;
  padding: 0 6px 0 6px;
  transition: background 0.3s;
  border-style: none;
}

#hamburger ul {
  position: absolute;
  right: 0;
  height: 100%;
  margin-top: 0;
  visibility: hidden;
  pointer-events: none;
  list-style: none;
}

#hamburger ul li {
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0.75em 0;
  writing-mode: vertical-lr;
}

#hamburger ul li a {
  text-decoration: none;
}

#nav-icon span {
  display: block;
  height: 3px;
  transition: transform 0.3s;
}

#nav-icon span:before {
  width: 100%;
  height: 3px;
  content: '';
  display: block;
  left: 0;
  position: relative;
  top: -8px;
}

#nav-icon span:after {
  width: 100%;
  height: 3px;
  content: '';
  display: block;
  left: 0;
  position: relative;
  top: 5px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
