%section.sky.half-sky
  .stars
  .closer-stars
  .closest-stars

  %section.title
    %div
      %h1
        %span CONTACT ME

%section.contact
  %h1 Thank you for your message!
  %p I'll get back to you soon.
