header {
  background-color: darken($primary-color, 15%);
  height: 50px;

  ul {
    margin: 0;
  }

  li {
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 5px;
    display: inline-block;
    span {
      background: -webkit-linear-gradient(white, $font-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      &:hover {
        background: -webkit-linear-gradient(darken(white, 10%), darken($font-gradient, 10%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

nav {
  // **DEPRECATED NEAT MIXIN** @include outer-container;
  //margin-left: auto;
  //margin-right: auto;
  //max-width: 1200px;
  @include grid-container;
}

.header-left {
  @include grid-column(6);
  padding: 0;
  float: left;
  padding-left: 24px;
  li {
    @include grid-column(6);
  }
}

.header-right {
  @include grid-column(6);
  padding-right: 24px;
  float: right;
  li {
    text-align: right;
    float: right;
  }
}
//@include grid-media($large-screen) {
//  .header-left,
//  .header-right {
//    padding: 0;
//  }
//  .header-left li {
//    @include grid-column(2)
//  }
//}

