%section.sky
  .stars
  .closer-stars
  .closest-stars

  %section.title
    %div
      %h1
        %span CODY COOPER
      %h2
        %span design & development
      .social-icons
        = link_to "https://github.com/cody-cooper"  do
          %span.icon.icon-github
        = link_to "https://angel.co/codycooper"  do
          %span.icon.icon-angellist
        = link_to "https://twitter.com/itscodycooper"  do
          %span.icon.icon-twitter
        = link_to "https://www.linkedin.com/in/itscodycooper"  do
          %span.icon.icon-linkedin
