// generate star shadows
@function multiple-box-shadow ($number) {
  $value: '#{random(2000)}px #{random(2000)}px #FFF';
  @for $i from 2 through $number {
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
  }
  @return unquote($value);
}

// star animation
@include keyframes(starAnimation) {
  from {
    @include transform(translateY(0px));
  }
  to {
    @include transform(translateY(-2000px));
  }
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

// begin star field
.sky {
  display: flex;
  @include calc(height, "100vh - 50px");  width: 100%;
  z-index: 1;
  @include background-image(linear-gradient($dark-sky, $light-sky));
}

.half-sky {
  @include calc(height, "25vh - 50px");
}

.stars {
  height: 1px;
  width: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  z-index: 2;
  @include animation(starAnimation 50s linear infinite);
}

.closer-stars {
  height: 2px;
  width: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  z-index: 3;
  @include animation(starAnimation 100s linear infinite);
}

.closest-stars {
  height: 3px;
  width: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  z-index: 4;
  @include animation(starAnimation 150s linear infinite);
}
// end star field

// begin copy overlay
.title {
  height: 100%;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  div {
    text-align: center;
  }
  h1,
  h2 {
    color: white;
    font-size: 24px;
    margin: 0;
  }

  span {
    background: -webkit-linear-gradient(white, $font-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
  }

  h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 5px;
  }
}

.social-icons {
  padding-top: 20px;
  a:hover {
    span {
      background: -webkit-linear-gradient(darken(white, 10%), darken($font-gradient, 10%));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.icon {
  color: white;
  height: 16px;
  padding-right: 40px;
  font-size: 16px;
}

.icon-linkedin {
  padding-right: 0;
}

@include media($large-screen) {
  .title {
    h1 {
      font-size: 50px;
    }
    h2 {
      letter-spacing: 10px;
    }
    .icon {
      font-size: 24px;
      padding-right: 8px;
      padding-top: 0;
    }
    .social-icons {
      padding-top: 8px;
    }
  }
}

//end copy overlay
