// imports
@import url(https://fonts.googleapis.com/css?family=Lato:700|Open+Sans:400,300);

// media widths
$large-screen: em(860) !default;

// colors
$primary-color: #033d5e;
$light-sky: $primary-color;
$dark-sky: darken($primary-color, 15%);
$font-gradient: #37495b;
